ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  padding-left: 5px;
  padding-top: 5px;
}

li {
  float: left;
  padding-right: 5px;
  /*border-right:1px solid #bbb;*/
}

/*li.seasons {
    background: #333;
    border-radius: 5px;
    text-align: center;
    display: block;

}*/



li:last-child {
  border-right: none;
}

.navopt {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.navopt:hover:not(.active) {
  background-color: #BC0000;
  color: #FFF;
  border-radius: 5px;
}

.active {
  background-color: #BC0000;
  color: white;
  display: block;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  border-radius: 5px;
}

	table.tableizer-table {
		font-size: 16px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
        border: 1px solid #CCC;
        color: white;
	}
	.tableizer-table th {
		background-color: #BC0000; 
		color: #FFF;
        font-weight: bold;
        color: white;
    }
    
    #navimg{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(204, 204, 204, 0.301);
        
    }

body {
    background-color: Black;
}

.intro {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 40%;
    position: relative;
    margin-left: 30%;
    margin-bottom: 0px;
}

#seasonsActive {
  text-align: center;
  display: inline;  
  background-color: #BC0000;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  
}

.seasons {
  text-align: center;
  display: inline;  
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.seasons:hover{
  text-align: center;
  display: inline;  
  background-color: #BC0000;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  color: white;
}

.left {
  width: 25%;
  text-align: right;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.months:hover:not(#monthsActive){
  display: inline;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  background-color: #BC0000;
  border-radius: 5px;
}

.months {
  text-align: center;
  display: inline;  
  background-color: #333;
  padding: 5px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  border-right: none;
}

/*.months li {
  display: inline;  
  background-color: #333;
  border-radius: 5px;
  padding: 8px;
  color: white;
  text-decoration: none;
}*/

#monthsActive {
   background-color: #BC0000;
   text-decoration: none;
   color: white;
   padding: 5px;
   border-radius: 5px;
}

/*#indeximgbox {
  background-color: rgba(204, 204, 204, 0.301);
  border-radius: 100px;
  background-size: auto;
  align-content: center;
}*/

.indeximg {
  max-width: 50%;
  height: auto;
  align-content: center;
  text-align: center;
  border-radius: 100px;
  background-color: rgba(204, 204, 204, 0.301);
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: .5s ease;
  /*backface-visibility: hidden;*/
}

.container {
  position: relative;
  max-width: 50%;
  height: auto;
  align-content: center;
  text-align: center;
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .indeximg{
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.signup {
  background-color: #BC0000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
}

.signup:hover {
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #BC0000;
}

.signup:visited {
  background-color: #333;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #BC0000;
}

.hublink {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
